{% extends 'core/base.html' %}

{% block title %}
<title>સંપર્ક - CKM</title>
{% endblock %}

{% block content %}

    <style type="text/css">
        .parallaxi {
        background-color: white;
        background-image: url("ckmimage.jpeg");
        height: 100%; 
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*following just for demo purposes to add height and top padding*/
        height:300vh;
        padding-top:100vh;
    }
    .parallax-curtain{
      height:100vh;
      /*background:rgba(255,255,255,0.5);*/
    }
    </style>
        <section id="mu-page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>પ્રેરક આહવાન - શાળાનો ઇતિહાસ</h2>
                            <ol class="breadcrumb">
                                <li><a href="#">મુખપૃષ્ટ</a></li>            
                                <li class="active">પ્રેરક આહવાન - શાળાનો ઇતિહાસ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center" style="padding: 10px;margin: auto;">પ્રેરક આહવાન </h2>
                        <p>છેલ્લા ૬૦ વર્ષથી કાર્યરત મુન્દ્રા તાલુકાની એકમાત્ર શ્રેષ્ટ કન્યા વિદ્યાલય એટલે ચંચળબેન કાન્જી માધવજી કન્યા વિદ્યાલય જયા કન્યા કેળવણીની અખંડ જ્યોત પ્રજવલીત છે. સાંપ્રત સમયમાં બેટી બચાવો ભળેલી દીકરી બે ઘર તારે જેવા સરકારશ્રી ના અભિયાનો અંતર્ગત કન્યાઓમાં શિક્ષણ પ્રત્યે ભૂખ ઉગડી છે તેમજ તેમના વાલી ઓમાં કન્યાને શિક્ષણ બનાવવા અંગે જાગૃતિ ફુલાય છે જેનૂ પરિણામ સ્વરૂપ વિકાસશીલ મુન્દ્રા તાલુકામાં દિન-પ્રતિદિન કન્યા કેળવણીની મંગમાં જબર ઉછાળો આવ્યો જેથી કરીને કન્યા વિદ્યાલયનું હાલનું ભવન નાનું પડે છે.</p>
                        <p>નૂતન વિદ્યાલયનું કામ ચાલુમાં છે આપણા વિસ્તારની દીકરીઓ શ્રેષ્ઠ અને આધુનિક સુવિધાયુક્ત શિક્ષણ મેળવે તેવા હેતુથી આ જ્ઞાન યજ્ઞમાં સ્વ. શ્રી કુંવરજીભાઇ નાનજીભાઈ કેનિયા પરિવારે માતબર દાન આપીને નવનિર્મિત વિદ્યાલયનો શિલાન્યાસ કરાવી શુભારંભ કરાવી દીધો છે ત્યારે શેઠ.આર.ડી એડયુકેશન ટ્રસ્ટની આ યશ્વીયાત્રા આપ પણ તા,મા અને ધન થી સક્રિય સહયોગ બનો એવી રહેલ વ્યવસ્થાક સમિતિના પ્રમુખની રૂપે નાખી રહ્યો છું.</p>
                        <p>શાળાની વેબસાઈટ ના ઉદઘાટન પ્રસંગે સમગ્ર વિશ્વમાં જયા જયા આર.ડી પરિવારના સ્નેહીજનો છે તેને હૃદયપૂર્વક અપીલ કરું છું જે આવો આપણે સૌ સાથે મળી ઋણ ચુકવવાની તેમજ દીકરીને વિદ્યાદાન મળે તેનું પુણ્ય કમાવાની ઘડીને સહર્ષ વધાવી લઇ કન્યા કેળવણીની જ્યોતને અદ્યતન સંકૂલથી આરક્ષિત બનાવવામાં નિમિત્ત બનીએ અને શાળાને નવા આયામ તરફ આગેકૂચ કરવામાં સહયોગી બનીયે એવી નમ્ર અરજ..</p>
                        <div class="mu-footer-top-area">
                        <div class="col-lg-4 col-md-4 col-sm-4" style="float: right;"> 
                            <div class="mu-footer-widget">
                                <address>
                                    <p>શ્રી ધમેન્દ્ધ શામજી જેસર </p>
                                    <p>પ્રમુખશ્રી</p>
                                    <p>શેઠ આર.ડી.એડયુકેશન ટ્રસ્ટ</p>
                                    <p>વ્યવસ્થાપક સમિતિ</p>
                                    <p>મુન્દ્રા- કચ્છ.</p>
                                </address>
                            </div>
                        </div>
                        </div>
                        <p style="height: 200px;"></p>
                        <p>૨૦૧૪/૧૫ માં ધો.૧૨ના પ્રથમ બેચે માર્ચએ ૨૦૧૫માં <b>એચ.એસ.સી</b> બોર્ડ 
    પરીક્ષા આપી જેનૂ પરિણામ <b>૧૦૦%</b> આવ્યુ.
                            <ol style="list-style: none;">
                                <li><b>૧.શાળાને એસ.એસ.સી. પરીક્ષાનું કેન્દ્ર મળયુ.</b></li><br>
                                <li><b>૨.શાળાને એચ.એસ.સી. પરીક્ષાનું કેન્દ્ર મળયુ.</b></li>
                            </ol>
                        </p>
                        <p>શાળાની યરકલગીમાં વધારે કરે તેવી બે ખાસ સીધીઓ રહી છે:-
                            <ol style="list-style: none;">
                                <li><b>૧.૨૦૦૮-૦૯ માં મુન્દ્રા તાલુકાની શ્રેષ્ઠ શાળા નો એવોર્ડ ૧૦,૦૦૦ રૂ. ના પારિતોષિત સાથે મળ્યો</b></li><br>
                                <li><b>૨. ૨૦૧૮-૧૯ માં કચ્છ જીલ્લાની શ્રેષ્ઠ શાળા નો એવોર્ડ ૧૦,૦૦૦ રૂ. ના પારિતોષિત સાથે મળ્યો</b></li>
                            </ol>
                        </p>
                        <p>આમ છેલ્લા ૬૦ વર્ષથી સ્ત્રી શિક્ષણક્ષેત્રે કાર્યરત આ શાળા મુન્દ્રા તાલુકાની શિક્ષણભૂખની જરૂરિયાતને પુરી કરવા કૃત નિચ્ચશિ હતી છે અને કાયમ રહશે.</p>
                    </div>
                </div>
            </div>
        </section>
  	<section id="mu-about-us">
    	<div class="container">
      		<div class="row">
        		<div class="col-md-12">
          			<div class="mu-about-us-area">           
            			<div class="row">
                            <div class="mu-title">
                                <h2>શાળાનો ઇતિહાસ</h2>   
                                <br>           
                              </div>
                            <div class="col-lg-6 col-md-6">
	                			<div class="mu-about-us-right" style="border:3px solid #ccc;background: #ff871c;padding: 15px 10px;border-radius: 10px;"> 
                                    <!-- <div class="parallaxmi"></div>                            -->
	                  				<img src="ckmimage.jpeg" alt="img" style="width: 100%;">
	                			</div>
	              			</div>
              				<div class="col-lg-6 col-md-6">
                				<div class="mu-about-us-left">
				                  	<!-- Start Title -->
				                  	
                  					<!-- End Title -->
                  					<p></p>
                  					<ul>
                                        <li>ઈ.સ. ૧૯૬૦ માં શ્રી વાઘજીભાઈ સોલંકીના પ્રમુખપણ હેઠળ અને શ્રી ભોગીલાલભાઈ નામચંદ મેહતાના 
મંત્રીપણા હેઠળ મુન્દ્રામાં આર.ડી. એડયુકેશન ટ્રસ્ટ સંચાલિત તાલુકા ની કન્યાઓ માટેની એકમાત્ર આધ્યાત્મિક શાળા સી.કે.એમ. કન્યાવિદ્યાલય શરુ કરવામાં આવી હતી.</li>
					                    <li>ઈ.સ. ૧૯૬૦ માં શ્રી વાઘજીભાઈ સોલંકીના પ્રમુખપણ હેઠળ અને શ્રી ભોગીલાલભાઈ નામચંદ મેહતાના 
					મંત્રીપણા હેઠળ મુન્દ્રામાં આર.ડી. એડયુકેશન ટ્રસ્ટ સંચાલિત તાલુકા ની કન્યાઓ માટેની એકમાત્ર આધ્યાત્મિક શાળા સી.કે.એમ. કન્યાવિદ્યાલય શરુ કરવામાં આવી હતી.</li>
					                    <li>શ્રી ભવાનજીભાઈ અરજણ ખીમજીભાઈ ના પ્રમુખપદે તા. ૨૦/૦૬/૧૯૬૦ ના પ્રધાનશ્રી પ્રેમજીભાઈ ભવાનજીભાઈ ઠક્કરના વરદહસ્તે આદર્શ કન્યાવિદ્યાલયનું ઉદઘાટન કરવામાં આવ્યું, શરુઆતમાં ધો. ૮ અને ધો. ૯ ના વર્ગો શરુ થયા. ધો. ૧૦-૧૧ શેઠ આર.ડી. હાઈસ્કૂલમાં ભણતી ૧૯૬૪ થી આદર્શ હાઈસ્કૂલ પૂર્ણ સ્કૂલ બની અને ૧૯૬૫ માં એસ.એસ.સી ની પ્રથમ બેચે પરીક્ષા આપી.</li>
					                    <li>શાળાને  એ સમયના પ્રમુખશ્રી ડૉ.પી.વી. પંડયા અને મંત્રુશ્રી ચમનલાલ વી. ભટ્ટના પ્રયત્નથી સને ૧૯૬૭ માં શ્રી કાન્જી માધવજી તરફથી ૱૫૧,૦૦૦ હજારની ભેટ મળી જેથી શાળાનું નામ ચંચળબેન કાન્જી માધવજી કન્યા વિદ્યાલય રાખવામાં આવ્યું ઉપરાંત શ્રી ભોગીલાલભાઈ અને મણિલાલભાઈના પ્રયત્નથી મકાન માટે  રૂ૨૫,૦૦૦ હાજરની ભેટ મળતા શાળાનાં મકાનને કાન્જી માધવજી બિલ્ડીંગ નામ આપવામાં આવ્યું.</li>
					                    <li>૧૮૬૦ થી શરુ થયેલી શાળાની વિકાસયાત્રા વણથંભી રહીને દિન-પ્રતિદિન પ્રગતિરથ આગળ વધતો રહ્યો છે જેમાં નવા ઉમેરાયેલા પરિણામો નીચે મુજબ છે.</li>
					                </ul>
                 	 				
                				</div>
              				</div>
	              			
            			</div>
          			</div>
        		</div>
      		</div>
    	</div>
	</section>
  <!-- End about us -->	
{% endblock %}