{% extends 'core/base.html' %}

{% block content %}

    <style type="text/css">
        .parallaxi {
        background-color: white;
        background-image: url("ckmimage.jpeg");
        height: 100%; 
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*following just for demo purposes to add height and top padding*/
        height:300vh;
        padding-top:100vh;
    }
    .parallax-curtain{
      height:100vh;
      /*background:rgba(255,255,255,0.5);*/
    }
    </style>
        <section id="mu-page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>શાળાનો ઇતિહાસ</h2>
                            <ol class="breadcrumb">
                                <li><a href="#">મુખપૃષ્ટ</a></li>            
                                <li class="active">શાળાનો ઇતિહાસ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  	<section id="mu-about-us">
    	<div class="container">
      		<div class="row">
        		<div class="col-md-12">
          			<div class="mu-about-us-area">           
            			<div class="row">
                            <div class="mu-title">
                                <h2>શાળાનો ઇતિહાસ</h2>   
                                <br>           
                              </div>
                            <div class="col-lg-6 col-md-6">
	                			<div class="mu-about-us-right" style="border:3px solid #ccc;background: #ff871c;padding: 15px 10px;border-radius: 10px;"> 
                                    <!-- <div class="parallaxmi"></div>                            -->
	                  				<img src="ckmimage.jpeg" alt="img" style="width: 100%;">
	                			</div>
	              			</div>
              				<div class="col-lg-6 col-md-6">
                				<div class="mu-about-us-left">
				                  	<!-- Start Title -->
				                  	
                  					<!-- End Title -->
                  					<p></p>
                  					<ul>
                                        <li>ઈ.સ. ૧૯૬૦ માં શ્રી વાઘજીભાઈ સોલંકીના પ્રમુખપણ હેઠળ અને શ્રી ભોગીલાલભાઈ નામચંદ મેહતાના 
મંત્રીપણા હેઠળ મુન્દ્રામાં આર.ડી. એડયુકેશન ટ્રસ્ટ સંચાલિત તાલુકા ની કન્યાઓ માટેની એકમાત્ર આધ્યાત્મિક શાળા સી.કે.એમ. કન્યાવિદ્યાલય શરુ કરવામાં આવી હતી.</li>
					                    <li>ઈ.સ. ૧૯૬૦ માં શ્રી વાઘજીભાઈ સોલંકીના પ્રમુખપણ હેઠળ અને શ્રી ભોગીલાલભાઈ નામચંદ મેહતાના 
					મંત્રીપણા હેઠળ મુન્દ્રામાં આર.ડી. એડયુકેશન ટ્રસ્ટ સંચાલિત તાલુકા ની કન્યાઓ માટેની એકમાત્ર આધ્યાત્મિક શાળા સી.કે.એમ. કન્યાવિદ્યાલય શરુ કરવામાં આવી હતી.</li>
					                    <li>શ્રી ભવાનજીભાઈ અરજણ ખીમજીભાઈ ના પ્રમુખપદે તા. ૨૦/૦૬/૧૯૬૦ ના પ્રધાનશ્રી પ્રેમજીભાઈ ભવાનજીભાઈ ઠક્કરના વરદહસ્તે આદર્શ કન્યાવિદ્યાલયનું ઉદઘાટન કરવામાં આવ્યું, શરુઆતમાં ધો. ૮ અને ધો. ૯ ના વર્ગો શરુ થયા. ધો. ૧૦-૧૧ શેઠ આર.ડી. હાઈસ્કૂલમાં ભણતી ૧૯૬૪ થી આદર્શ હાઈસ્કૂલ પૂર્ણ સ્કૂલ બની અને ૧૯૬૫ માં એસ.એસ.સી ની પ્રથમ બેચે પરીક્ષા આપી.</li>
					                    <li>શાળાને  એ સમયના પ્રમુખશ્રી ડૉ.પી.વી. પંડયા અને મંત્રુશ્રી ચમનલાલ વી. ભટ્ટના પ્રયત્નથી સને ૧૯૬૭ માં શ્રી કાન્જી માધવજી તરફથી ૱૫૧,૦૦૦ હજારની ભેટ મળી જેથી શાળાનું નામ ચંચળબેન કાન્જી માધવજી કન્યા વિદ્યાલય રાખવામાં આવ્યું ઉપરાંત શ્રી ભોગીલાલભાઈ અને મણિલાલભાઈના પ્રયત્નથી મકાન માટે  રૂ૨૫,૦૦૦ હાજરની ભેટ મળતા શાળાનાં મકાનને કાન્જી માધવજી બિલ્ડીંગ નામ આપવામાં આવ્યું.</li>
					                    <li>૧૮૬૦ થી શરુ થયેલી શાળાની વિકાસયાત્રા વણથંભી રહીને દિન-પ્રતિદિન પ્રગતિરથ આગળ વધતો રહ્યો છે જેમાં નવા ઉમેરાયેલા પરિણામો નીચે મુજબ છે.</li>
					                </ul>
                 	 				
                				</div>
              				</div>
	              			
            			</div>
          			</div>
        		</div>
      		</div>
    	</div>
	</section>
  <!-- End about us -->	
{% endblock %}