{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>શાળા ઇતિહાસ - CKM</title>
{% endblock %}

{% block content %}
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>શાળા ઇતિહાસ - પ્રેરક આહવાન</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">મુખપૃષ્ઠ</a></li>            
                        <li class="active">શાળા ઇતિહાસ - પ્રેરક આહવાન</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mu-about-us" style="margin-bottom: -3%;margin-top: -3%;font-size: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">           
                    <div class="row">
                        <div class="mu-title">
                            <h2 style="text-align: center;font-weight: bold;margin-bottom: 5%;color:chocolate">શાળા ઇતિહાસ</h2>              
                        </div> 
                        <div class="col-lg-12 col-md-12">
                            <div class="mu-about-us-left">
                                <img src="{% static 'core/assets/img/school.JPG' %}" alt="img" style="width: 100%;">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="mu-about-us-left">
                                <p></p>
                                <ul>
                                    <li>ઈ.સ. 1960 માં શ્રી વાઘજીભાઈ સોલંકીના પ્રમુખપણા હેઠળ અને શ્રી ભોગીલાલભાઈ નેમચંદ મહેતાના 
                                        મંત્રીપણા હેઠળ મુંદરામાં આર.ડી. એજ્યુકેશન ટ્રસ્ટ સંચાલિત તાલુકાની કન્યાઓ માટેની એકમાત્ર માધ્યમિક શાળા સી.કે.એમ. કન્યા વિદ્યાલય શરુ કરવામાં આવી હતી.</li>
                                    <li>શ્રી ભવાનજીભાઈ અરજણ ખીમજીના પ્રમુખપદે તા. 20/06/1960 ના પ્રધાનશ્રી 
                                        પ્રેમજીભાઈ ભવાનજીભાઈ ઠક્કરના વરદ હસ્તે આદર્શ કન્યા વિદ્યાલયનું ઉદ્દઘાટન કરવામાં આવ્યું, શરુઆતમાં ધો. 8 અને ધો. 9 ના
                                        વર્ગો શરુ થયા. ધો. 10-11 માટે બહેનો શેઠ આર.ડી. હાઈસ્કૂલમાં ભણતી. 1964 થી આદર્શ હાઈસ્કૂલ પૂર્ણ સ્કૂલ બની અને 1965
                                         માં એસ.એસ.સી ની પ્રથમ બેચે પરીક્ષા આપી.</li>
                                    <li>શાળાને  એ સમયના પ્રમુખશ્રી ડૉ.પી.વી. પંડયા અને મંત્રીશ્રી ચમનલાલ વી. ભટ્ટના પ્રયત્નથી સને 1967 માં શ્રી કાનજી માધવજી 
                                        તરફથી ૱51,000/- ની ભેટ મળી, જેથી શાળાનું નામ ચંચળબેન કાનજી માધવજી કન્યા વિદ્યાલય રાખવામાં આવ્યું.
                                        ઉપરાંત શ્રી ભોગીલાલભાઈ અને મણિલાલભાઈના પ્રયત્નથી મકાન માટે  રૂ25,000/- ની ભેટ મળતાં શાળાનાં મકાનને કાનજી 
                                        માધવજી બિલ્ડીંગ નામ આપવામાં આવ્યું.</li>
                                    <li>1960 થી શરુ થયેલી શાળાની વિકાસયાત્રા વણથંભી રહીને દિન-પ્રતિદિન પ્રગતિરથ આગળ વધતો રહ્યો છે જેમાં નવા ઉમેરાયેલા 
                                        પરિમાણો નીચે મુજબ છે -
                                        <br>
                                        પ્રમુખશ્રી ધર્મેન્દ્રભાઈ જેસર, મંત્રીશ્રી વિશ્રામભાઈ ગઢવીની સમગ્ર ટીમના સહયોગથી - 
                                        <ol>
                                            <li><b>ધોરણ 9 ના 1 માંથી 2 વર્ગો થયા - સાલ: 2011-12</b></li>
                                            <li><b>ધોરણ 10 ના 1 માંથી 2 વર્ગો થયા - સાલ: 2012-13</b></li>
                                            <li><b>સળંગ એકમમાં  ધોરણ 11 ના (ઉ.મા) વર્ગો શરૂ - સાલ: 2013-14</b></li>
                                            <li><b>સામાન્ય પ્રવાહ ધોરણ 12 ક્રમિક વર્ગ શરુ - સાલ: 2014-15</b></li>
                                        </ol>
                                    </li>
                                    <li>2014/15 માં ધો.12ના પ્રથમ બેચે માર્ચ 2015માં <b>એચ.એસ.સી</b> બોર્ડ પરીક્ષા આપી, જેનું <b>પરિણામ 100%</b> આવ્યું. 
                                        <ol>
                                            <li><b>શાળાને એસ.એસ.સી. પરીક્ષાનું કેન્દ્ર મળ્યું - સાલ: 1992</b></li>
                                            <li><b>શાળાને એચ.એસ.સી. પરીક્ષાનું કેન્દ્ર મળ્યું - સાલ: 2012</b></li>
                                        </ol>
                                    </li>
                                    <li>શાળાની યશકલગીમાં વધારો કરે તેવી બે ખાસ સિદ્ધિઓ રહી છે:-
                                        <ol style="list-style: none;">
                                            <li style="color: red;"><b>1.2008-09 માં મુન્દ્રા તાલુકાની શ્રેષ્ઠ શાળા નો એવોર્ડ 10,000/- રૂ. ના પારિતોષિક સાથે મળ્યો</b></li>
                                            <li style="color: red;"><b>2.2018-19 માં કચ્છ જીલ્લાની શ્રેષ્ઠ શાળા નો એવોર્ડ 100,000/- રૂ. ના પારિતોષિક સાથે મળ્યો</b></li>
                                        </ol>
                                            </li>
                                    <li>આમ છેલ્લા 60 વર્ષથી સ્ત્રી શિક્ષણક્ષેત્રે કાર્યરત આ શાળા મુંદરા તાલુકાની શિક્ષણભૂખની 
                                        જરૂરિયાતને પૂરી કરવા કૃત નિશ્ચયી હતી, છે અને કાયમ રહશે.</li> 
                                                        
                                
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mu-about-us" style="margin-bottom: -3%;margin-top: -3%;font-size: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">           
                    <div class="row">
                        <div class="mu-title">
                            <h2 style="text-align: center;font-weight: bold;margin-bottom: 5%;color: #FF5722;
                            text-decoration: underline;">પ્રેરક આહવાન</h2>              
                        </div> 
                        <div class="col-lg-12 col-md-12">
                            <div class="mu-about-us-left">
                                <p>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;છેલ્લા ૬૦ વર્ષથી કાર્યરત મુંદરા તાલુકાની એકમાત્ર શ્રેષ્ઠ કન્યા વિદ્યાલય એટલે ચંચળબેન કાનજી માધવજી કન્યા વિદ્યાલય. જ્યાં કન્યા કેળવણીની અખંડ જ્યોત પ્રજ્વલિત
                                    છે. સાંપ્રત સમયમાં 'બેટી બચાઓ બેટી ભણાવો', 'ભણેલી દીકરી બે ઘર તારે' જેવા સરકારશ્રીના અભિયાનો અંતર્ગત કન્યાઓમાં શિક્ષણ
                                     પ્રત્યે ભૂખ ઉઘડી છે, તેમજ તેમના વાલીઓમાં કન્યાને શિક્ષિત બનાવવા અંગે જાગૃતિ ફેલાઈ છે. જેના પરિણામ સ્વરૂપ વિકાસશીલ મુંદરા
                                      તાલુકામાં દિન-પ્રતિદિન કન્યા કેળવણીની માંગમાં ઉછાળો આવ્યો છે. જેથી કરીને કન્યા વિદ્યાલયનું હાલનું ભવન નાનું પડે છે.</p>
                               <p>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;નૂતન વિદ્યાલયનું કામ ચાલુમાં છે. આપણા વિસ્તારની દીકરીઓ શ્રેષ્ઠ અને આધુનિક સુવિધાયુક્ત શિક્ષણ મેળવે તેવા હેતુથી આ જ્ઞાન યજ્ઞમાં<br>
                                    સ્વ.શ્રી કુંવરજીભાઇ નાનજીભાઈ કેનિયા પરિવારે માતબર દાન આપીને નવનિર્મિત વિદ્યાલયનો શિલાન્યાસ કરાવી શુભારંભ કરાવી દીધો
                                     છે ત્યારે શેઠ.આર.ડી એજ્યુકેશન ટ્રસ્ટની આ વિકાસ યાત્રામાં આપ પણ તન, મન અને ધનથી સક્રિય સહયોગી બનો એવી ટહેલ વ્યવસ્થાપક 
                                     સમિતિના પ્રમુખની રુહે નાંખી રહ્યો છું.</p>
                               <p>	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;શાળાની વેબસાઈટના ઉદઘાટન પ્રસંગે સમગ્ર વિશ્વમાં જ્યાં જ્યાં આર.ડી પરિવારનાં સ્નેહીજનો છે તેને હૃદયપૂર્વક અપીલ કરું છું કે, આવો
                                    આપણે સૌ સાથે મળી ઋણ ચુકવવાની તેમજ દીકરીને વિદ્યાદાન મળે તેનું પુણ્ય કમાવવાની આ ઘડીને સહર્ષ વધાવી લઇ કન્યા કેળવણીની જ્યોતને 
                                    અદ્યતન સંકૂલથી આરક્ષિત બનાવવામાં નિમિત્ત બનીએ અને શાળાને નવા આયામ તરફ આગેકૂચ કરવામાં સહયોગી બનીયે એવી નમ્ર અરજ..</p>
                               <div class="mu-footer-top-area">
                               <div class="col-lg-4 col-md-4 col-sm-4" style="float: right;"> 
                                   <div class="mu-footer-widget">
                                       <address>
                                           <p>શ્રી ધર્મેન્દ્ર શામજી જેસર </p>
                                           <p>પ્રમુખશ્રી</p>
                                           <p>શેઠ આર.ડી.એજ્યુકેશન ટ્રસ્ટ</p>
                                           <p>વ્યવસ્થાપક સમિતિ</p>
                                           <p>મુંદરા- કચ્છ.</p>
                                       </address>
                                   </div>
                               </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      
{% endblock %}