{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>પૂરક પ્રવૃત્તિઓ - CKM</title>
{% endblock %}


{% block content %}

<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>પૂરક પ્રવૃત્તિઓ</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">મુખપૃષ્ઠ</a></li>            
                        <li class="active">પૂરક પ્રવૃત્તિઓ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mu-about-us" style="margin-bottom: -3%;margin-top: -3%;font-size: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">           
                    <div class="row">
                        <div class="mu-title">
                            <h2 style="text-align: center;font-weight: bold;margin-bottom: 5%;"></h2>              
                        </div> 
                        <div class="col-lg-12 col-md-12">
                            <div class="">
                                <p style="background-color: #b4f4a2cf;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b><span style="text-align: center;">શાળા પંચાયત -</span></b><br>શાળામાં દર વર્ષે પ્રત્યક્ષ ચૂંટણી દ્વારા શાળા પંચાયતના પ્રમુખ - ઉપપ્રમુખ ચૂંટાય છે.

                                    ત્યારબાદ અન્ય હોદેદારો અને વિવિધ સમિતિઓ જેવીકે પ્રાર્થના, શિસ્ત , સ્વચ્છતા, પ્રવાસ, રમત-
                                    ગમત ,બાગાયતી, પરીક્ષા, પુસ્તકાલય વિ. ની રચના થાય છે. જે વર્ષ દરમ્યાન શાળાની સમગ્ર
                                    
                                    પ્રવૃત્તિઓ સંભાળે છે.
                                    </p>
                                    <img src="{% static 'core/assets/activity/' %}" alt="" class="img-responsive">
                                <p style="background-color:#00bcd43d;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>ઈકો કલબ -</b>"પ્રકૃતિ" ઈકોકલબમાં ધો 9- 11 ની 50 વિદ્યાર્થિનીઓ શાળાના મેદાનમાં વૃક્ષોની વાવણી,

                                    સારસંભાળ, સંવર્ધન હાથ ધરે છે. પર્યાવરણ જાગૃતિ સંદર્ભે વિવિધ સ્પર્ધાઓ જેવી કે પોસ્ટર ,
                                    નિબંધ , વકતૃત્વ, સૂત્ર સ્પર્ધાનું આયોજન કરે છે. નિયમિત સફાઈની જાળવણી સંભાળે છે.
                                    </p>
                                <p style="background-color: #c0acc3d9;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>SPC પ્રોજેક્ટ -</b>
                                    ધો. 9 ની 35-40 કન્યાઓ સ્ટુડન્ટ પોલિસ કેડેટ્સ તરીકે સમગ્ર વર્ષ દરમ્યાન ભાગ લે
                                    
                                    છે. જેના દ્વારા સુરક્ષા સેતુ કાર્યક્રમ , મહિલા સશક્તિ કરણ , સમર કેમ્પ , પોલિસ સ્ટેશન મુલાકાત,
                                    સંસ્કાર પ્રવચન શ્રેણી, V.C. વિઝીટ , પ્રવાસ, રાઈફલ શૂટીંગ, રાષ્ટ્રીય તહેવારોની ઉજવણી જેવા
                                    કાર્યક્રમો હાથ ધરાય છે. શાળાના વિદ્યાર્થિની ઝાલા રિદ્ધિબાને જીલ્લાકક્ષાએ બેસ્ટ કેડેટનો એવોર્ડ
                                    
                                    મળેલ છે.</p>
                                <p style="background-color:#d0de457d;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>ઈન્ટરેકટ ગર્લ્સ કલબ -</b>રોટરી કલબ સંલગ્ન ઈન્ટરેકટ ગર્લ્સ કલબમાં ધો.11ની 10 બહેનો સમગ્ર વર્ષ દરમ્યાન

                                    રોટરીના વિવિધ પ્રોજેકટોમા સ્વયંસેવકો તરીકે સેવા બજાવે છે. જેમાં પોલિયો અભિયાન, મેડીકલ
                                    કેમ્પ , નવરાત્રિ ઉજવણી, સાંસ્કૃતિક પ્રવૃત્તિઓમાં સહભાગી બને છે.
                                    </p>
                                <p style="background-color: #f2ba54c7;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>કારકિર્દી માર્ગદર્શન કોર્નર -</b>
                                    જિલ્લા રોજગાર વિનિમય કચેરી દ્વારા કેરિયર કોર્નર પ્રવૃત્તિ ચાલે છે. જેમાં દર માસે
                                    યોજાતાં વાર્તાલાપ, પ્રવેશ, સ્વ - રોજગાર કે નોકરી માટેની સલાહ, મુલાકાતની માહિતી રોજગાર
                                    કચેરીને મોકલવામાં આવે છે. આ માટે લેટેસ્ટ ફેક્ટસ ઇન જનરલ નોલેજ, કારકિર્દી માર્ગદર્શન સામાયિક, રોજગાર સમાચાર શાળામાં મંગાવાય છે. પ્રાર્થના સભામાં વિવિધ વ્યવસાયોની માહિતી
                                    અપાય છે.
                                    </p>
                                <p style="background-color: pink;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>આપત્તિ વ્યવસ્થાપન સેલ -</b>આપત્તિ સામે રક્ષણ , સ્વ બચાવ, મદદ કરવાના હેતુથી આપત્તિ વ્યવસ્થાપન સેલની
                                    વિવિધ ટુકડીઓ શિક્ષકોના માર્ગદર્શન હેઠળ કાર્યરત છે. જેમા માસાંતે મોક ડ્રીલ , બુલેટીન બોર્ડ
                                    પ્રવૃત્તિ દ્રારા વિવિધ જાણકારી , 108 સેવા નિદર્શન , ફાયર સેફ્ટી નિયમો - સાધન જાણકારી ,
                                    પ્રત્યક્ષ નિદર્શન , સ્વ - સુરક્ષા માટે કરાટે તાલીમ, C.D. નિદર્શન વિ. કાર્યક્રમો કરવામાં આવે છે.</p>
                                <p style="background-color:#f7e655d9;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>ફરિયાદ નિવારણ સમિતિ -</b>કન્યા વિદ્યાલયના સંદર્ભે કન્યાઓની જાતીય સલામતી માટે ગુડ ટચ - બેડ ટચ , Do's,
                                    Don'ts જેવી હકીકતો, વાર્તાલાપ , માહિતી નિદર્શન , મુલાકાત - દ્વારા વાકેફ કરવામાં આવે છે.
                                    જેમાં શાળાના આચાર્યા, શિક્ષિકા, શાળા પંચાયત પ્રમુખ, વાલીમંડળના સભ્યશ્રીની ટીમ કામ કરે
                                    છે-માર્ગદર્શન આપે છે.</p>
                                <p style="background-color: aqua;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>સામાજીક ભાગીદારિતા પ્રવૃત્તિઓ -</b>વિવિધ સામાજીક સંસ્થાઓ જેવી કે રોટરી , લાયન્સ , જાયન્ટ્સ, રેડક્રોસ સોસાયટી , માનવ
                                    અધિકાર પંચ વિ.ના સહયોગથી શાળામાં દર વર્ષે વૃક્ષારોપણ, સ્વેટર વિતરણ, મેડિકલ તપાસ ,
                                    વિવિધ અધિકારની માહિતી, વિવિધ પ્રસંગોચિત ઉજવણીઓ, સ્પર્ધાઓનું આયોજન કરવામાં આવે છે.
                                    </p>
                                <p style="background-color: #f57066de;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>મૂલ્યવર્ધક પરીક્ષાઓ - </b>ભારતીય સંસ્કૃતિ જ્ઞાન પરીક્ષા - ગાયત્રી પરિવાર તરફથી , રાષ્ટ્રભાષા સંવર્ધન પરીક્ષા
                                    , માધ્યમિક શિષ્યવૃતિ પરીક્ષા , રાષ્ટ્રીય પ્રતિભાશોધ પરીક્ષા, ભારત કો જાનો - માં શાળાની
                                    કન્યાઓ ભાગ લે છે અને દર વર્ષે સારો દેખાવ કરે છે . ખાસ કરીને 2016માં શાળાની કુ. ખત્રી
                                    ઝયમાએ ભારતીય સંસ્કૃતિ જ્ઞાન પરીક્ષામાં સમગ્ર જિલ્લામાં પ્રથમ સ્થાન પ્રાપ્ત કરી, હરિદ્વાર
                                    ખાતેની શિબિરમાં જીલ્લાનું પ્રતિનિધિત્વ કરેલ.</p>
                                <p style="background-color: #0000ff8a;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>આનંદમેળો - શૈક્ષણિક પ્રવાસ -</b>SPC ના કેડેટ્સ આરોગ્યવર્ધક આનંદમેળો 26 મી જાન્યુઆરી નિમિતે ગોઠવે છે જેમાં
                                    વિદ્યાર્થિનીઓ વિવિધ સ્ટોલ બનાવી શાળા સમય દરમ્યાન જ અગાઉથી વિતરીત કરેલ કૂપનના
                                    આધારે શાળાની વિદ્યાર્થિનીઓ પૂરતો જ આનંદમેળો પ્રતિવર્ષ ગોઠવે છે.
                                    
                                    દર વર્ષે શાળામાં શૈક્ષણિક પ્રવાસનું આયોજન થાય છે જેમાં અભ્યાસમાં સમાવિષ્ટ હોય
                                    તેવા ઔતિહાસિક , પ્રાકૃતિક , ધાર્મિક સ્થળોની મુલાકાત યોજાય છે. અગાઉ ધોળાવીરા, ગત વર્ષે
                                    -2019 માં કાળાડુંગર ખાતે પ્રાકૃતિક શિબિરનું આયોજન કરવામાં આવેલ.</p>
                                <p style="background-color: #af81109e;padding: 15px;margin-bottom: 15px;border-radius: 10px;"><b>પ્રસંગોચિત ઉજવણીઓ -</b>રાષ્ટ્રીય, ધાર્મિક, સામાજીક પર્વોની પ્રસંગોચિત ઉજવણી શાળામાં શાળા પંચાયત દ્વારા
                                    કરાય છે. જેમાં ધ્વજવંદન , ગરબા , સમૂહગીત , એકપાત્રીય અભિનય , ભજન , વકતૃત્વ , નિબંધ,
                                    રંગોળી , મહેંદી , શણગાર સ્પર્ધાનું તહેવારને અનુલક્ષીને આયોજન થાય છે. શિક્ષક દિન , શુભેચ્છા
                                    દિન , હિન્દી દિન , મહિલા દિન , માનવગૌરવ દિન , વિજ્ઞાન દિન , રાષ્ટ્રીય મતદાતા દિન વિ.ની
                                    ઉજવણી થાય છે.</p>
                                <p><b></b></p>
                                <p><b></b></p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    div.gallery {
      border: 1px solid #ccc;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .responsive {
      padding: 6px 6px;
      float: left;
      width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0px;

      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
        <!-- End breadcrumb -->
        <section>
          <div class="container">
                  
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/1.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/2.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/3.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/4.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
          </div>
          <div class="container">

                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/5.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/6.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/7.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/8.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
          </div>
          <div class="container">

                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/9.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/10.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/11.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="responsive" style="display: inline;">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/activity/12.jpg' %}" alt="Forest" width="600" height="400">
                      </a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  
            
                </div>
            
                </section>

{% endblock %}