{% extends 'core/base.html' %}

{% block content %}
    <style type="text/css">
        /* Style buttons */
        .btn {
          background-color: #ff871c;
          border: none;
          color: white;
          padding: 12px 30px;
          cursor: pointer;
          font-size: 20px;
          width: 100vw;
          border-radius: 50px;
        }
  
        /* Darker background on mouse-over */
        .btn:hover {
          background-color: #e15a10 RoyalBlue;
        }
      </style>
         <section id="mu-page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>નિયમો</h2>
                            <ol class="breadcrumb">
                                <li><a href="#">મુખપૃષ્ટ</a></li>            
                                <li class="active">પ્રવેશના નિયમ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section id="mu-about-us" style="margin-bottom: -3%;margin-top: -3%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-us-area">           
                        <div class="row">
                            <div class="mu-title">
                                <h2 style="text-align: center;font-weight: bold;margin-bottom: 5%;">પ્રવેશના નિયમ</h2>              
                            </div> 
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-left">
                                    <!-- Start Title -->
                                    
                                    <!-- End Title -->
                                    <ul>
                                        <li> હાજરીમાં અનિયમિતતા, અવિનય કે વાધાભરી વર્તણુંકનું કારણ મળતા વિદ્યાર્થીનું નામ કમી કરવામાં આવશે.</li>
                                        <li>વિદ્યાર્થીએ શાળામાં કોઈ પણ પ્રકારનું નુકશાન કર્યું હશે તો તે ભરપાઈ કરી આપવાની રહશે.</li><br>
                                        <li>શાળામાં નક્કી કરેલ સમાયું અને નક્કી કરેલું યુનિફોર્મ પહેરીને શાળામાં આવવાનું રહશે.</li><br>
                                        <li>વિદ્યાર્થીને કોઈપણ પ્રકારની શારીરિક-માનસિક તકલીફ હોયતો શાળાને તેની જાણ અવશ્ય કરવાની રહશે.</li>
                                        <li>પ્રસંગોપાત શાળામાં હજાર ન રહી શકવા બદલની જાણ માટે રજા ચીઠી શાળા ડાયરીમાં વાલીએ વર્ગ શિક્ષક સમક્ષ રજુ કરવાની રહશે.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-right"> 
                                    <ul>
                                        <li>શાળામાં પ્રાર્થનામાં હાજરી આપવાની ફરજીયાત છે.</li><br>
                                        <li>વિદ્યાર્થીની  ગેરહાજરી કે અનિયમિતતા  કે અભ્યાસ સબંધી ભલામણ કરવા માટે બોલવામાં આવે ત્યારે વાલી એ રૂબરૂ આવવાનું રહશે.</li>
                                        <li>સતત ત્રણ દિવસ સુધી જાણ કાર્ય વગર ગેરહાજર રેહનાર વિદ્યાર્થીનું નિયમ અનુસાર શાળામાંથી નામ કમી કરવામાં આવશે.</li>
                                        <li>વિદ્યાર્થીઓએ વર્ગકાર્ય અને ગૃહકાર્ય ફરજીયાત કરવાનું રહશે.</li><br>
                                        <li>શાળામાં વિદ્યાર્થીનીએ મોબાઈલ લઇ આવવા પર સખત પ્રતિબંધ છે.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us -->	
    <section>
        <div class="container" style="align-items: center;">
            <p style="text-align: center;">શાળામાં પ્રવેશ મેળવવા માટે નીચે આપેલી લિંક દ્વારા ફોર્મ ને ડાઉનલોડ કરવાનું રહશે.</p>
            <button class="btn" style="width: 100%;outline: none;"><i class="fa fa-download"></i> Download
            </button>
        </div>
    </section>
    <br>
{% endblock %}>