<style>
	@media (max-width: 767px){
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget {
    margin-bottom: 30px;
    text-align: left;
}}
</style>
	<!-- Start footer -->
  	<footer id="mu-footer">
    <!-- start footer top -->
    	<div class="mu-footer-top">
      		<div class="container">
        		<div class="mu-footer-top-area">
          			<div class="row">
            			<div class="col-lg-4 col-md-4 col-sm-4">
              				<div class="mu-footer-widget">
                				<h4>માહિતી</h4>
                				<ul>
									<li><a href="{% url 'core:home' %}">મુખપૃષ્ઠ</a></li>
									<li><a href="{% url 'core:history' %}">શાળા ઇતિહાસ</a></li>
									<li><a href="{% url 'core:school_family' %}">શાળા પરિવાર</a></li>
									<li><a href="{% url 'core:admission' %}">શાળાના નિયમ</a></li>
				                  	<li><a href="{% url 'core:gallery' %}">યાદેં</a></li>  
									<li><a href="{% url 'core:result' %}">પરિણામ</a></li>
				                  	<li><a href="{% url 'core:contact' %}">સંપર્ક</a></li>
									  
				                </ul>
              				</div>
            			</div>
            			
            			<div class="col-lg-4 col-md-4 col-sm-4">
              				<div class="mu-footer-widget" style="">
                				<h4>સંપર્ક</h4>
                				<address>
                  					<p>જૂના બંદર રોડ, મુંદરા, કચ્છ</p>
                  					<p>સંપર્ક: 02838-222114</p>
                  					<p>વેબસાઈટ: www.ckmmundra.com</p>
                  					<p>ઇ-મેલ: ckmghs@yahoo.com</p>
                				</address>
              				</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
						<iframe
							width="300" height="250"
							frameborder="0" style="border:0"
							src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDz8ES7ixGtdPAO53WiZuu_0vs3R3e2DGo
							  &q=CKM+Girls+High+School,Mundra+Gujarat" allowfullscreen>
						  </iframe>


					  </div>
          			</div>
        		</div>
      		</div>
    	</div>
    	<!-- end footer top -->
    	<!-- start footer bottom -->
    	<div class="mu-footer-bottom">
      		<div class="container">
        		<div class="mu-footer-bottom-area">
          			<p>&copy; All Right Reserved By CKM. Designed by <a href="#" rel="nofollow">Shreeji Developers</a></p>
        		</div>
      		</div>
    	</div>
    </footer>
