
	<!-- Start footer -->
  	<footer id="mu-footer">
    <!-- start footer top -->
    	<div class="mu-footer-top">
      		<div class="container">
        		<div class="mu-footer-top-area">
          			<div class="row">
            			<div class="col-lg-6 col-md-6 col-sm-6">
              				<div class="mu-footer-widget">
                				<h4>માહિતી</h4>
                				<ul>
				                  	<li><a href="{% url 'core:contact' %}">સંપર્ક</a></li>
				                  	<li><a href="{% url 'core:gallery' %}">ચિત્રખંડ</a></li>
				                  	<li><a href="{% url 'core:admission' %}">પ્રવેશના નિયમ</a></li>
				                  	<li><a href="{% url 'core:result' %}">પરિણામ</a></li>
				                </ul>
              				</div>
            			</div>
            			<!-- <div class="col-lg-4 col-md-4 col-sm-4">
              				<div class="mu-footer-widget">
                				<h4>Student Help</h4>
                				<ul>
                  					<li><a href="">Get Started</a></li>
                  					<li><a href="#">My Questions</a></li>
                  					<li><a href="">Download Files</a></li>
                  					<li><a href="">Latest Course</a></li>
                  					<li><a href="">Academic News</a></li>                  
                				</ul>
              				</div>
            			</div> -->
            			<div class="col-lg-6 col-md-6 col-sm-6">
              				<div class="mu-footer-widget" style="">
                				<h4>સંપર્ક</h4>
                				<address>
                  					<p>ઓલ્ડ પોર્ટ રોડ, મુન્દ્રા, કચ્છ</p>
                  					<p>સંપર્ક: ૯૮૭ -૯૪૫-૮૩૨૮</p>
                  					<p>વેબસાઈટ: www.ckm.org</p>
                  					<p>ઇ-મેલ: ckmghs@yahoo.com</p>
                				</address>
              				</div>
            			</div>
          			</div>
        		</div>
      		</div>
    	</div>
    	<!-- end footer top -->
    	<!-- start footer bottom -->
    	<div class="mu-footer-bottom">
      		<div class="container">
        		<div class="mu-footer-bottom-area">
          			<p>&copy; All Right Reserved. Designed by <a href="#" rel="nofollow">vdeveloper.com</a></p>
        		</div>
      		</div>
    	</div>
    </footer>
