  {% extends 'core/base.html' %}
  {% load static %}
  {% block title %}
<title>યાદેં</title>
{% endblock %}
  {% block content %}
  <style>
    div.gallery {
      border: 1px solid #ccc;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
  <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>      
    </a>
  <!-- END SCROLL TOP BUTTON -->
        <!-- Page breadcrumb -->
        <section id="mu-page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>યાદેં</h2>
                            <ol class="breadcrumb">
                                <li><a href="#">મુખપૃષ્ટ</a></li>            
                                <li class="active">યાદેં</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb -->
        <section>
            <div class="container" style="margin-top: 20px;display: inline;">
                <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/1.JPG' %}" alt="Cinque Terre" width="600" height="400">
                      </a>
                      <div class="desc">ધ્વજવંદન</div>
                    </div>
                  </div>
                  
                  
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ધ્વજવંદન૧.JPG' %}" alt="Forest" width="600" height="400">
                      </a>
                      <div class="desc">ધ્વજવંદન</div>
                    </div>
                  </div>
                  
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ધ્વજવંદન 5.JPG' %}" alt="Northern Lights" width="600" height="400">
                      </a>
                      <div class="desc">ધ્વજવંદન</div>
                    </div>
                  </div>
            

                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ભુમી પૂજન 1.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">ભુમી પૂજન</div>
                    </div>
                  </div>

                </div>
                <div class="container" style="margin-top: 20px;display: inline;">

                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ભુમી પૂજન.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">ભુમી પૂજન</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ધો.12 100% સન્માન.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">ધો.12 100% સન્માન</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ધો.12 વિદાયમાન.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">ધો.12 વિદાયમાન</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/કોર્ટ મુલાકાત.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">કોર્ટ મુલાકાત</div>
                    </div>
                  </div>
            </div>
            <div class="container" style="margin-top: 20px;display: inline;">
            
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ગ્રામ પંચાયત મુલાકાત.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">ગ્રામ પંચાયત મુલાકાત</div>
                    </div>
                  </div>
                  
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/પોલીસ સ્ટેશન મુલાકાત.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">પોલીસ સ્ટેશન મુલાકાત</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/વ્રુક્ષા રોપણ.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">વ્રુક્ષા રોપણ</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/સ્વચ્છતા અભિયાન.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">સ્વચ્છતા અભિયાન</div>
                    </div>
                  </div>
            </div>
            <div class="container" style="margin-top: 20px;display: inline;">

                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ગાયત્રી યજ્ઞ.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">ગાયત્રી યજ્ઞ</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/એસ.પી.સી..JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">એસ.પી.સી.</div>
                    </div>
                  </div>
                  
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/સ્વ સુરક્ષા 1.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">સ્વ સુરક્ષા</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/સ્વ સુરક્ષા.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">સ્વ સુરક્ષા</div>
                    </div>
                  </div>

                </div>
                <div class="container" style="margin-top: 20px;display: inline;">

                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/શિક્ષક દિન.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">શિક્ષક દિન</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/સરસ્વતી સાયકલ સહાય.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">સરસ્વતી સાયકલ સહાય</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/યુવા ઉત્સવ.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">યુવા ઉત્સવ</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/યોગા.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">યોગા</div>
                    </div>
                  </div>

                </div>
                <div class="container" style="margin-top: 20px;display: inline;">

                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/વિજ્ઞાનમેળો.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">વિજ્ઞાનમેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/વિદાયમાન.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">વિદાયમાન</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/ન્યુ શાળા પરિસર.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">ન્યુ શાળા પરિસર</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/મેડીકલ તપાસ.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">મેડીકલ તપાસ</div>
                    </div>
                  </div>
                </div>
                <div class="container" style="margin-top: 20px;display: inline;">

                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/શાળા પરિસર 1.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">શાળા પરિસર</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/શાળા પરિસર 2.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">શાળા પરિસર</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/શાળા પરિસર 3.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">શાળા પરિસર</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/શાળા પરિસર.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">શાળા પરિસર</div>
                    </div>
                  </div>
                </div>
                <div class="container" style="margin-top: 20px;display: inline;">
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/પ્રાક્રુતી શિક્ષણ શિબિર.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">પ્રાક્રુતી શિક્ષણ શિબિર</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/પ્રવેશોત્સવ.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">પ્રવેશોત્સવ</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/3.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/11.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                </div>
                <div class="container" style="margin-top: 20px;display: inline;">
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/12.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/13.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/14.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/15.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                </div>
                <div class="container" style="margin-top: 20px;display: inline;">
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/16.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/17.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/18.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/19.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                </div>
                <div class="container" style="margin-top: 20px;display: inline;">
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/20.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/21.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/22.JPG' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">આનંદ મેળો</div>
                    </div>
                  </div>
                  
                  <!-- <div class="responsive">
                    <div class="gallery">
                      <a target="_blank" href="">
                        <img src="{% static 'core/assets/img/gallery/પ્રવાસ.jpg' %}" alt="Mountains" width="600" height="400">
                      </a>
                      <div class="desc">પ્રવાસ</div>
                    </div>
                  </div> -->
                  
                  <div class="clearfix"></div>
                  
            </div>
        </section>

    {% endblock %}