  {% extends 'core/base.html' %}
  {% block content %}
  <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>      
    </a>
  <!-- END SCROLL TOP BUTTON -->
        <!-- Page breadcrumb -->
        <section id="mu-page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>ચિત્રખંડ</h2>
                            <ol class="breadcrumb">
                                <li><a href="#">મુખપૃષ્ટ</a></li>            
                                <li class="active">ચિત્રખંડ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb -->
        <!-- Start gallery  -->
        <section id="mu-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-gallery-area">
                        <!-- start title -->
                            
                        <!-- end title -->
                        <!-- start gallery content -->
                            <div class="mu-gallery-content">
                            <!-- Start gallery menu -->
                                
                            <!-- End gallery menu -->
                                <div class="mu-gallery-body">
                                    <ul id="mixit-container" class="row">
                                    <!-- start single gallery image -->
                                        <li class="col-md-4 col-sm-6 col-xs-12 mix lab">
                                            <div class="mu-single-gallery">                  
                                                <div class="mu-single-gallery-item">
                                                    <div class="mu-single-gallery-img">
                                                        <a href="#"><img alt="image of lab" src="F:/User/gamer.jpg"></a>
                                                    </div>
                                                    <div class="mu-single-gallery-info">
                                                        <div class="mu-single-gallery-info-inner">
                                                            <h4>Racing</h4>
                                                            <p>Gaming</p>
                                                            <a href="F:/User/gamer.jpg" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                                            <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                                                        </div>
                                                    </div>                  
                                                </div>
                                            </div>
                                        </li>
                                    <!-- start single gallery image -->
                                        <li class="col-md-4 col-sm-6 col-xs-12 mix library">
                                            <div class="mu-single-gallery">                  
                                                <div class="mu-single-gallery-item">
                                                    <div class="mu-single-gallery-img">
                                                        <a href="#"><img alt="img" src="assets/img/gallery/small/2.jpg"></a>
                                                    </div>
                                                    <div class="mu-single-gallery-info">
                                                        <div class="mu-single-gallery-info-inner">
                                                            <h4>Image Title</h4>
                                                            <p>Animation</p>
                                                            <a href="assets/img/gallery/big/2.jpg" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                                            <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </li>
                                    <!-- start single gallery image -->
                                        <li class="col-md-4 col-sm-6 col-xs-12 mix classroom">
                                            <div class="mu-single-gallery">                  
                                                <div class="mu-single-gallery-item">
                                                    <div class="mu-single-gallery-img">
                                                        <a href="#"><img alt="img" src="assets/img/gallery/small/3.jpg"></a>
                                                    </div>
                                                    <div class="mu-single-gallery-info">
                                                        <div class="mu-single-gallery-info-inner">
                                                            <h4>Image Title</h4>
                                                            <p>Math</p>
                                                            <a href="assets/img/gallery/big/3.jpg" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                                            <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <!-- start single gallery image -->
                                        <li class="col-md-4 col-sm-6 col-xs-12 mix cafe">
                                            <div class="mu-single-gallery">                  
                                                <div class="mu-single-gallery-item">
                                                    <div class="mu-single-gallery-img">
                                                        <a href="#"><img alt="img" src="assets/img/gallery/small/3.jpg"></a>
                                                    </div>
                                                    <div class="mu-single-gallery-info">
                                                        <div class="mu-single-gallery-info-inner">
                                                            <h4>Image Title</h4>
                                                            <p>Math</p>
                                                            <a href="assets/img/gallery/big/3.jpg" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                                            <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- start single gallery image -->
                                        <li class="col-md-4 col-sm-6 col-xs-12 mix others">
                                            <div class="mu-single-gallery">                  
                                                <div class="mu-single-gallery-item">
                                                    <div class="mu-single-gallery-img">
                                                        <a href="#"><img alt="img" src="assets/img/gallery/small/3.jpg"></a>
                                                    </div>
                                                    <div class="mu-single-gallery-info">
                                                        <div class="mu-single-gallery-info-inner">
                                                            <h4>Image Title</h4>
                                                            <p>Math</p>
                                                            <a href="assets/img/gallery/big/3.jpg" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                                            <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- start single gallery image -->
                                        <li class="col-md-4 col-sm-6 col-xs-12 mix library">
                                            <div class="mu-single-gallery">                  
                                                <div class="mu-single-gallery-item">
                                                    <div class="mu-single-gallery-img">
                                                        <a href="#"><img alt="img" src="assets/img/gallery/small/3.jpg"></a>
                                                    </div>
                                                    <div class="mu-single-gallery-info">
                                                        <div class="mu-single-gallery-info-inner">
                                                            <h4>Image Title</h4>
                                                            <p>Math</p>
                                                            <a href="assets/img/gallery/big/3.jpg" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                                            <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- start single gallery image -->
                                        <li class="col-md-4 col-sm-6 col-xs-12 mix classroom">
                                            <div class="mu-single-gallery">                  
                                                <div class="mu-single-gallery-item">
                                                    <div class="mu-single-gallery-img">
                                                        <a href="#"><img alt="img" src="assets/img/gallery/small/3.jpg"></a>
                                                    </div>
                                                    <div class="mu-single-gallery-info">
                                                        <div class="mu-single-gallery-info-inner">
                                                            <h4>Image Title</h4>
                                                            <p>Math</p>
                                                            <a href="assets/img/gallery/big/3.jpg" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                                            <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>            
                                </div>
                            </div>
                        <!-- end gallery content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End gallery  -->

    {% endblock %}