{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>CKM</title>
{% endblock %}

{% block content %}
  <style>
    @media (max-width: 640px){
      #mu-slider .mu-slider-single .mu-slider-img figure img {
          width: inherit;
      }
      }
  </style>
        <!--START SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#">
            <i class="fa fa-angle-up"></i>      
        </a>
  <!-- END SCROLL TOP BUTTON -->

        <!-- Start Slider -->
        <section id="mu-slider">
        <!-- Start single slider item -->
            <div class="mu-slider-single">
                <div class="mu-slider-img">
                    <figure>
                        <img src="{% static 'core/assets/img/ckm.png' %}" alt="img">
                    </figure>
                </div>
            </div>
            <!-- Start single slider item -->
            <!-- Start single slider item -->
            <!-- <div class="mu-slider-single">
                <div class="mu-slider-img">
                    <figure>
                      <img src="assets/img/slider/2.jpg" alt="img">
                    </figure>
                </div>
            </div> -->
            <!-- Start single slider item -->
            <!-- Start single slider item -->
            <!-- <div class="mu-slider-single">
                <div class="mu-slider-img">
                    <figure>
                        <img src="assets/img/slider/3.jpg" alt="img">
                    </figure>
                </div>
            </div> -->
            <!-- Start single slider item -->    
        </section>
        <!-- End Slider -->
        <!-- Start our teacher -->
        <section id="mu-our-teacher">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                    <div class="mu-our-teacher-area">
                        <div class="mu-title">
                            <h2>સી.કે.એમ કન્યા વિદ્યાલય ના નવનિર્મિત ભવનના દાતા</h2>
                        </div>
                        <div class="text-center mu-our-teacher-img">
                            <figure class="mu-our-teacher-img">
                                <img src="assets/img/teachers/1 H.B.J..jpg" alt="teacher img" style="max-width: 90%;">
                            </figure>
                            <div class="mu-ourteacher-single-content">
                                <h4>સ્વ. શ્રી કુંવરજી નાનજી કેનિયા</h4>
                                <span>(જીવન યાત્રા: દિ. ૧૪.૧૨.૧૦૨૪ થી દિ. ૦૨.૦૩.૨૦૧૮) </span><br>
                                <p>મુન્દ્રા કચ્છ વિસ્તારના શિક્ષણ જગતના છેલ્લા ૧૧૦ વર્ષની અવિરત યાત્રામાં આગવી અને અનોખી ભાટ પાડનાર શેઠ આર.ડી. એડયુકેશન ટ્રસ્ટ માં છેલ્લા ત્રણ દાયકા સુધી યશસ્વી નેતૃત્વ આપનાર <b>કુંવરજી બાપા</b> નું એક સ્વપ્ન હતું કે દરેક દીકરી શાળા એ જાય માધ્યમિક શિક્ષણ મેળવી ઘર આંગણેજ ઉચ્ચ શિક્ષણ પૂર્ણ કરે આ વાત વાલીએ અને સમાજ શ્રેષ્ઠી ઓને સમયાંતરે બાપા કેહતા હતા તો વળી જેનાથી બાપા વંચિત રહ્યા તે સુવિધા સમાજ ને આપવામાં ગૌરવ અનુભવતા હતા.<br><br>
                                વારસાઈ સંસ્કાર ઉજાગર કરવા કુંવરજી બાપાના પરિવારે બાપાનું સ્વપ્ન પૂર્ણ કરવા એક ડગલું આગળ વધી ને આપણા વિસ્તારની દીકરીઓ શ્રેષ્ઠ અને આધુનિક સુવિભાયુક્ત શિક્ષણ મેળવે એવા ઉદાન્ત ઉદેશ્યથી કન્યા કેળવણીના આ જ્ઞાનયસમાં માતબર દાન આપીને શિક્ષણ  અને સંસ્કારની નવનિર્મિત ઉર્જાભવનનો હિલાન્યાસ કર્યો છે.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-our-teacher-area">
                            <!-- begain title -->
                            <div class="mu-title">
                                <h2>શેઠ આર.ડી. એડયુકેશન ટ્રસ્ટના વર્તમાન ટ્રસ્ટીશ્રીઓ</h2>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit repellat minus molestiae ea.</p> -->
                            </div>
                            <!-- end title -->
                            <!-- begain our teacher content -->
                            <div class="mu-our-teacher-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3  col-sm-6">
                                        <div class="mu-our-teacher-single">
                                            <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી દામજીભાઇ એન્કરવાલા</h4>
                      <span>ટ્રસ્ટીશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-02.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી પ્રકાશભાઈ હાથીભાઈ શાહ</h4>
                      <span>ટ્રસ્ટીશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-03.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>કેકિનભાઈ કુંવરભાઈ છેડા</h4>
                      <span>મૅનેજિંગ ટ્રસ્ટીશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-04.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>લક્ષ્મીચંદભાઈ કુંવરભાઈ કેનિયા</h4>
                      <span>ટ્રસ્ટીશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mu-our-teacher-content">
                <div class="row">
                    <div class="col-lg-3 col-md-3  col-sm-6">
                        <div class="mu-our-teacher-single">
                            <figure class="mu-our-teacher-img">
                                <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                                <div class="mu-our-teacher-social">
                                    <a href="#"><span class="fa fa-facebook"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                </div>
                            </figure>                    
                            <div class="mu-ourteacher-single-content">
                                <h4>રમેશભાઈ રાવજીભાઈ છેડા</h4>
                                <span>ટ્રસ્ટીશ્રી</span>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                            </div>
                        </div>
                    </div>
            <!-- End our teacher content -->           
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="mu-our-teacher-area">
            <!-- begain title -->
            <div class="mu-title">
              <h2>શેઠ આર.ડી. એડયુકેશન ટ્રસ્ટ વ્યવશ્થાપક સમિતિ</h2>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit repellat minus molestiae ea.</p> -->
            </div>
            <!-- end title -->
            <!-- begain our teacher content -->
            <div class="mu-our-teacher-content">
              <div class="row">
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી ધર્મેન્દ્રભાઈ એસ. જેસર</h4>
                      <span>પ્રમુખશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-02.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી અવિનાશભાઈ જે.ભટ્ટ</h4>
                      <span>ઉપ પ્રમુખશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-03.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી વિશ્રામભાઇ આર.ગઢવી</h4>
                      <span>માનદમંત્રીશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-04.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી સુનિલ જે. મેહતા</h4>
                      <span>સહમંત્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mu-our-teacher-content">
              <div class="row">
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી હિમતભાઈ વિ. ગણાત્રા</h4>
                      <span>ખજાંચીશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી તુલસીદાસ એન. સ્વાલી</h4>
                      <span>ઇસ્ટ.ઓડિટરશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી નવીનભાઈ એન. મેહતા</h4>
                      <span>સભ્યશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી મનીષભાઈ કે. મોરબીયા</h4>
                      <span>સભ્યશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
            <!-- End our teacher content -->           
          </div>
        </div>
        <div class="mu-our-teacher-content">
              <div class="row">
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી મહેશભાઈ એમ. દેસાઈ</h4>
                      <span>સભ્યશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી ભાઈલાલભાઈ એન. ચોથાણી</h4>
                      <span>સભ્યશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી પ્રકાશભાઈ જી. ઠક્કર</h4>
                      <span>સભ્યશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                      
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રી પ્રકાશ આર. પાટીદાર</h4>
                      <span>સભ્યશ્રી</span>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                    </div>
                  </div>
                </div>
            <!-- End our teacher content -->           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our teacher -->
    <section id="mu-abtus-counter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-abtus-counter-area">
                        <div class="row">
                            <!-- Start counter item -->
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mu-abtus-counter-single">
                                    <h4 class="counter">40</h4>
                                    <p>વિષયો</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mu-abtus-counter-single">
                                    <h4 class="counter">3500</h4>
                                    <p>વિદ્યાર્થીઓ</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                         
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="mu-abtus-counter-single no-border">
                                    <h4 class="counter">250</h4>
                                    <p>શિક્ષકો</p>
                                </div>
                            </div>
                        <!-- End counter item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us counter -->
    <!-- Start testimonial -->
    <!-- <section id="mu-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-testimonial-area">
                        <div id="mu-testimonial-slide" class="mu-testimonial-content">
                            <div class="mu-testimonial-item">
                                <div class="mu-testimonial-quote">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                                    </blockquote>
                                </div>
                            <div class="mu-testimonial-info">
                                <h4>Our Mission</h4>
                                <span>Happy Student</span>
                            </div>
                        </div>
                        <div class="mu-testimonial-item">
                            <div class="mu-testimonial-quote">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                                </blockquote>
                            </div>
                            <div class="mu-testimonial-info">
                                <h4>Vision</h4>
                                <span>Happy Parent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End testimonial -->  
{% endblock %}