{% extends 'core/base.html' %}
{% load static %}
{% block title %}
<title>શાળા પરિવાર</title>
{% endblock %}
{% block content %}
<style type="text/css" media="screen">
      .under-line {
        text-decoration: underline;
      }
      #mu-our-teacher {
          display: inline;
          padding: 30px 0;
      }
      .mu-ourteacher-single-content {
        text-align: center;
        padding: 0px 0px;
        font-weight: 600;
      }
      .mu-ourteacher-single-content h4{
        font-weight: 700;
        font-size: 20px;
      }
      #mu-our-teacher .mu-our-teacher-area .mu-our-teacher-content .mu-our-teacher-single .mu-our-teacher-img {
          background-color:none;
          display: inline;
          position: relative;
      }
      @media only screen and (max-width: 768px) {
      .pad-trustee {
       padding: 0px 20%; 

      }
      h2 {
        font-size: 30px;

      }
      .row {
          margin-right: 0px;
          margin-left: 0px;
      }

}
  </style>
  <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>      
    </a>
  <!-- END SCROLL TOP BUTTON -->


        <!-- Page breadcrumb -->
        <section id="mu-page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>શાળા પરિવાર</h2>
                            <ol class="breadcrumb">
                                <li><a href="#">મુખપૃષ્ટ</a></li>            
                                <li class="active">શાળા પરિવાર</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb -->
         <!-- Start our trustee -->
         <section id="mu-our-teacher">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <div class="mu-our-teacher-area">
                      <div class="mu-title">
                          <h2 class="under-line">સી.કે.એમ કન્યા વિદ્યાલયના નવનિર્મિત ભવનના દાતા</h2>
                          <h5 style="font-size: 18px;">મુન્દ્રાઈ મહાજન...  ને આરડીયનોના આદરણીય</h5>
                      </div>
                      <div class="text-center mu-our-teacher-img">
                          <figure class="mu-our-teacher-img">
                              <img src="{% static 'core/assets/img/trustee/IMG-20200922-WA0002.jpg' %}" alt="teacher img" style="max-width: 90%;">
                          </figure>
                          <div class="">
                              <h4 style="font-size: 23px;"><b>સ્વ. શ્રી કુંવરજી નાનજી કેનિયા</b></h4>
                              <span>(જીવન યાત્રા: તા. 14/12/1924 થી તા. 02/03/2018) </span><br><br>
                              <p style="font-size: 20px;text-align: left;">&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;મુંદરા કચ્છ વિસ્તારના શિક્ષણ જગતમાં છેલ્લા 110 વર્ષની અવિરત યાત્રામાં આગવી અને અનોખી
                                ભાત પાડનાર શેઠ આર.ડી. એજ્યુકેશન ટ્રસ્ટમાં છેલ્લા ત્રણ દાયકા સુધી યશસ્વી નેતૃત્વ આપનાર 
                                 <b>કુંવરજી બાપાનું</b> એક સ્વપ્ન હતું કે, દરેક દીકરી શાળા એ જાય, માધ્યમિક શિક્ષણ મેળવી ઘર 
                                 આંગણેજ ઉચ્ચ શિક્ષણ પૂર્ણ કરે. આ વાત વાલીઓ અને સમાજ શ્રેષ્ઠીઓને સમયાંતરે બાપા કહેતા હતા.
                                 તો વળી જેનાથી બાપા વંચિત રહ્યા તે સુવિધા સમાજ ને આપવામાં ગૌરવ અનુભવતા હતા.<br><br>
                                 &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;
                              વારસાઈ સંસ્કાર ઉજાગર કરવા કુંવરજી બાપાના પરિવારે બાપાનું સ્વપ્ન પૂર્ણ કરવા એક ડગલું આગળ વધી 
                              ને આપણા વિસ્તારની દીકરીઓ શ્રેષ્ઠ અને આધુનિક સુવિધાયુક્ત શિક્ષણ મેળવે એવા ઉદેશ્યથી કન્યા
                               કેળવણીના આ જ્ઞાનયસમાં માતબર દાન આપીને શિક્ષણ  અને સંસ્કારની નવનિર્મિત ઉર્જાભવનનો શિલાન્યાસ કર્યો છે.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br><br>

              <div class="row">
                  <div class="">
                      <div class="mu-our-teacher-area">
                          <!-- begain title -->
                          <div class="mu-title">
                              <h2 class="under-line">શેઠ આર.ડી. એજ્યુકેશન ટ્રસ્ટના વર્તમાન ટ્રસ્ટીશ્રીઓ</h2>
                          </div>
                          <!-- end title -->
                          <!-- begain our teacher content -->
              <div class="mu-our-teacher-content">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-1 col-md-offset-1">
                                      <div class="mu-our-teacher-single">
                                          <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/damji.png' %}" alt="teacher img" class="pad-trustee">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી દામજીભાઇ એન્કરવાલા</h4>
                    <span>ટ્રસ્ટીશ્રી</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/prakash.png' %}" alt="teacher img" class="pad-trustee">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી પ્રકાશભાઈ હાથીભાઈ શાહ</h4>
                    <span>ટ્રસ્ટીશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/kekin.png' %}" alt="teacher img" class="pad-trustee">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી કેકીનભાઈ કુંવરજીભાઈ છેડા</h4>
                    <span>મૅનેજિંગ ટ્રસ્ટીશ્રી</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/lakshmi.png' %}" alt="teacher img" class="pad-trustee">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી લક્ષ્મીચંદભાઈ કુંવરજીભાઈ કેનિયા</h4>
                    <span>ટ્રસ્ટીશ્રી</span>
                  </div>
                </div>
              </div>
                  <div class="col-lg-2 col-md-2  col-sm-2">
                      <div class="mu-our-teacher-single">
                          <figure class="mu-our-teacher-img">
                              <img src="{% static 'core/assets/img/trustee/ramesh.png' %}" alt="teacher img" class="pad-trustee">
                          </figure>                    
                          <div class="mu-ourteacher-single-content">
                              <h4>શ્રી રમેશભાઈ રવજીભાઈ છેડા</h4>
                              <span>ટ્રસ્ટીશ્રી</span>
                          </div>
                      </div>
                  </div>
        </div>
      </div>
      <br><br>
      <div class="row" style="margin-top: 20px;display: inline-block;">
      <div class="col-md-12">
        <div class="mu-our-teacher-area">
          <!-- begain title -->
          <div class="mu-title">
            <h2 class="under-line">શેઠ આર.ડી. એજ્યુકેશન ટ્રસ્ટ વ્યવસ્થાપક સમિતિ</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit repellat minus molestiae ea.</p> -->
          </div>
          <!-- end title -->
          <!-- begain our teacher content -->
          <div class="mu-our-teacher-content">
            <div class="row">
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/dharmandra.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી ધર્મેન્દ્રભાઈ એસ. જેસર</h4>
                    <span>પ્રમુખશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/avinashbhai.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી અવિનાશભાઈ જે.ભટ્ટ</h4>
                    <span>ઉપ પ્રમુખશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/vishrambhai.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી વિશ્રામભાઇ આર.ગઢવી</h4>
                    <span>માનદમંત્રીશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/sunilbhai.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી સુનિલભાઇ જે. મહેતા</h4>
                    <span>સહમંત્રીશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mu-our-teacher-content">
            <div class="row">
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/himmat.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી હિંમતભાઈ વિ. ગણાત્રા</h4>
                    <span>ખજાંચીશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/tulsi.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી તુલસીદાસ એન. સ્વાલી</h4>
                    <span>ઈન્ટ.ઓડીટરશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/navin.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી નવીનભાઈ એન. મહેતા</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/manish.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી મનીષભાઈ કે. મોરબીયા</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
          <!-- End our teacher content -->           
        </div>
      </div>
      <div class="mu-our-teacher-content">
            <div class="row">
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/mahesh.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી મહેશભાઈ એમ. દેસાઈ</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/bhailal.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી ભાઈલાલભાઈ એન. ચોથાણી</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/prakash-2.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી પ્રકાશભાઈ જી. ઠક્કર</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/prakash-3.png' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી પ્રકાશભાઈ આર. પાટીદાર</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
          <!-- End our teacher content -->           
        </div>
      </div>
      <div class="mu-our-teacher-content">
            <div class="row">
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/IMG-20200922-WA0000.jpg' %}" alt="teacher img" class="pad-trustee"  style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી વૈભવભાઈ એ. ધારક</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="{% static 'core/assets/img/trustee/IMG-20200922-WA0001.jpg' %}" alt="teacher img" class="pad-trustee" style="padding:  0px 18%;">
                    
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>શ્રી ગૌરાંગભાઈ આર. ત્રિવેદી</h4>
                    <span>સભ્યશ્રી</span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p> -->
                  </div>
                </div>
              </div>
          <!-- End our teacher content -->           
        </div>
      </div>
    </div>
  </div>
</section>
<style>
   
</style>
        <!-- Start our teacher -->
  <section id="mu-our-teacher">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-our-teacher-area">
            
            <!-- begain our teacher content -->
            
            <div class="mu-our-teacher-content">
                <div class="row">
                    <div class="text-center">
                        <h2 class="under-line">આચાર્યા</h2>
                      <p> <br></p>
                        <img src="{% static 'core/assets/img/teachers/principal.jpg' %}" alt="teacher img"  style="max-width: 300px;padding: 0px 65px;">
                        <div class="mu-ourteacher-single-content">
                            <h4>ડૉ. હિના ભાનુશંકર જાની</h4>
                            <p>P.T.C., M.A., M.Ed., Ph.D.</p>
                            <p>મોબાઈલ: 9879458328</p>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="mu-title" style="margin-top: 5%;">
              <h2 class="under-line">માધ્યમિક વિભાગ (શૈક્ષણિક)</h2>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit repellat minus molestiae ea.</p> -->
            </div>
            <div class="mu-our-teacher-content">
              <div class="row">
                <div class="col-lg-4 col-md-4  col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/dam.jpg' %}" style="padding:  0px 25%;" alt="teacher img">
                     
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>પરમાર દમયંતીબેન લક્ષ્મણભાઇ</h4>
                      <span>વિષયો: સામાજિક વિજ્ઞાન,ભૂગોળ</span>
                      <p>લાયકાત: M.A., B.Ed.<br>મોબાઈલ: 9328181520</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/gohil.jpg' %}" style="padding:  0px 25%;" alt="teacher img"">
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>ગોહેલ કનૈયાલાલ ઝવેરભાઈ</h4>
                      <span>વિષયો: અંગ્રેજી,હિન્દી</span>
                      <p>લાયકાત: B.A., B.Ed.<br>મોબાઈલ: 9727553671</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/usha.jpg' %}" style="padding:  0px 25%;" alt="teacher img"">
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>પટેલ ઉષાબેન જયસિંહભાઈ</h4>
                      <span>વિષયો : હિન્દી, ગુજરાતી</span>
                      <p>લાયકાત: B.R.S.D., B.Ed.<br>મોબાઈલ: 9913204205</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mu-title" style="margin-top: 5%;">
              <h2 class="under-line">ઉચ્ચમાધ્યમિક વિભાગ (શૈક્ષણિક)</h2>
            </div>
            <div class="mu-our-teacher-content">
              <div class="row">
                <div class="col-lg-4 col-md-4  col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/pooja.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>ર્ડા.પૂજા રમેશચંદ્ર કેવડિયા</h4>
                      <span>વિષયો : સંસ્કૃત, ગુજરાતી</span>
                      <p>લાયકાત: M.A., M.Ed., Ph.D.<br>મોબાઈલ: 9913688543 </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/niral.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>નિરાલી જેન્તીલાલ મહિચ્છા</h4>
                      <span>વિષયો : અંગ્રેજી, સમાજશાસ્ત્ર</span>
                      <p>લાયકાત: M.A., M.Ed., M.Phil.<br>મોબાઈલ: 9727323419</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/mayuri.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>મયુરીબા રણજીતસિંહ જાડેજા </h4>
                      <span>વિષયો : નામુ, અર્થશાસ્ત્ર, એસ.પી</span>
                      <p>લાયકાત: M.Com., B.Ed.<br>મોબાઈલ: 7905729445</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <!-- End our teacher content -->
            <div class="mu-title" style="margin-top: 5%;">
              <h2 class="under-line">માનદ્દ શિક્ષકો</h2>
            </div>
            <div class="mu-our-teacher-content">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4  col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/pari.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>પરીનબેન હસનઅલી ખોજા</h4>
                      <span>વિષયો : વિજ્ઞાન, ગણિત<br>વિભાગ: માધ્યમિક</span>
                      <p>લાયકાત: B.Sc, M.Ed, B.A.<br>મોબાઈલ: 9925427378</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/heta.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>હેતા હરેશભાઇ ગોહિલ</h4>
                      <span>વિષયો : ગણિત, વિજ્ઞાન<br>વિભાગ: માધ્યમિક</span>
                      <p>લાયકાત: B.Sc, B.Ed.<br>મોબાઈલ: 8758664197</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/suruchi.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>સુરુચિ ધર્મેન્દ્રભાઈ જેસર</h4>
                      <span>વિષયો : કોમ્પ્યુટર<br>વિભાગ:માધ્યમિક</span>
                      <p>લાયકાત: B.B.A.<br>મોબાઈલ: 8758548234</p>
                    </div>
                  </div>
                </div>
               
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/pooja2.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>પૂજા ભૌમિકભાઇ ભટ્ટ</h4>
                      <span>વિષયો : અર્થશાસ્ત્ર, નામુ<br>વિભાગ:ઉચ્ચમાધ્યમિક</span>
                      <p>લાયકાત: M.Com, B.Ed.<br>મોબાઈલ: 9998444021</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/shreya.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>શ્રેયા ચેતનભાઈ જાની</h4>
                      <span>વિષયો : ગુજરાતી, હિન્દી<br>વિભાગ:ઉચ્ચમાધ્યમિક</span>
                      <p>લાયકાત: B.A, B.Ed.<br>મોબાઈલ: 9408569203</p>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="mu-title" style="margin-top: 5%;">
              <h2 class="under-line">બિન શૈક્ષણિક</h2>
            </div>
            <div class="mu-our-teacher-content">
              
              <div class="row">
                <div class="col-lg-4 col-md-4  col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/valji.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>વાલજી રામજીભાઈ ઓઝા</h4>
                      <span>હોદો : સી.ક્લાર્ક</span>
                      <p>લાયકાત: ધોરણ 10 પાસ.<br>મોબાઈલ: 9427435335</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/ketan.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4>કેતન વાલજીભાઇ સોલંકી</h4>
                      <span>હોદો : જુ.ક્લાર્ક</span>
                      <p>લાયકાત: B.A., L.L.B.<br>મોબાઈલ: 9904131331</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="{% static 'core/assets/img/teachers/kajal.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                      <h4>કાજલબેન કિરણભાઈ જોશી</h4>
                      <span>હોદો :માનદ્દ પટાવાળા</span>
                      <p>લાયકાત: ધોરણ ૮ પાસ.<br>મોબાઈલ: 6359049735</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="mu-title" style="margin-top: 5%;">
              <h2>માનદ્દ પટાવાળા</h2>
            </div>
            <div class="mu-our-teacher-content">
              <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="mu-our-teacher-single">
                            <figure class="mu-our-teacher-img">
                                <img src="{% static 'core/assets/img/teachers/kajal.jpg' %}" style="padding:  0px 25%;" alt="teacher img" >
                            </figure>                    
                            <div class="mu-ourteacher-single-content">
                                <h4>કાજલબેન કિરણભાઈ જોશી</h4>
                                <span>હોદો : પટાવાળા</span>
                                <p>લાયકાત: ધોરણ ૮ પાસ.<br>મોબાઈલ: 6359049735</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      -->
            <div class="mu-our-teacher-content">
              <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="mu-our-teacher-single">
                            <figure class="mu-our-teacher-img">
                            </figure>                    
                            <div class="mu-ourteacher-single-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- End our teacher --> 

    
<br>

  {% endblock %}
